<div class="footerContainer">
	<ul>
		<li>&copy; <%=Time.now.year%> <%=SETTINGS[:site][:name]%></li>
		<li>|</li>
		<li>Created by <a href="http://www.sundelof.com" title="Erik Sundelof" target="_blank">Erik Sundelof</a></li>
	</ul>
</div>